<?xml version="1.0" encoding="UTF-8"?>
<packages>
	<package id="eartrumpet" version="2.1.9.0"/>
	<package id="adobereader" version="2021.011.20039"/>
	<package id="chocolatey-core.extension" version="1.3.5.1"/>
	<package id="googlechrome" version="97.0.4692.99"/>
	<package id="firefox" version="96.0.1"/>
	<package id="jre8" version="8.0.311"/>
	<package id="vlc" version="3.0.16"/>
	<package id="python3" version="3.10.2"/>
	<package id="dotnetfx" version="4.8.0.20190930"/>
	<package id="7zip" version="21.7"/>
	<package id="notepadplusplus" version="8.2"/>
	<package id="malwarebytes" version="4.5.2.260"/>
	<package id="winrar" version="6.02"/>
	<package id="ccleaner" version="5.88.9346"/>
	<package id="treesizefree" version="4.5.3"/>
	<package id="k-litecodecpackfull" version="16.7.0"/>
	<package id="spotify" version="1.1.77.643"/>
	<package id="nvidia-display-driver" version="511.23"/>
	<package id="chocolateygui" version="0.19.0"/>
	<package id="steam-client" version="2.10.91.91"/>
	<package id="discord" version="1.0.9003"/>
	<package id="teamspeak" version="3.5.6"/>
	<package id="msiafterburner" version="4.6.4.20211212"/>
	<package id="geforce-experience" version="3.24.0.126"/>
	<package id="hwinfo" version="7.16"/>
	<package id="f.lux" version="4.120"/>
	<package id="wowup" version="2.5.2"/>
	<package id="wox" version="1.3.524.20180714"/>
	<package id="everything" version="1.4.11015"/>
	<package id="everythingtoolbar" version="0.7.4"/>
	<package id="javaruntime" version="8.0.231"/>
	<package id="jdk11" version="11.0.2.9"/>
	<package id="evga-precision-x1" version="1.2.9.0"/>
	<package id="sdio" version="1.12.1.740"/>
	<package id="gyazo" version="4.2.1"/>
	<package id="obs-studio" version="27.1.3"/>
</packages>